
/* ==== Google font ==== */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,600,700,800|Roboto:400,500,700,900');
/* --- pe-icon-7-stroke --- */

/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
  background-color: lightblue;
}

div.intro{
	 background-color: red;
}
div.card{
	background-color: orange;
}
